.novo__form__titulo {
    font-size: 1.9rem;
    font-weight: 200;
    text-align: center;
    margin: 20px 0;
}

.novo__form__section {
    margin: 0 auto;
    width: 90vw;
}


.novo__form__section input, select {
    height: 35px;
    border: 1px solid #035c97;
    width: 100%;
    margin-top: 10px;
}

.novo__form__section textarea {
    border: 1px solid #035c97;
    width: 100%;
    margin-top: 10px;
}

.novo__form__section input[type="submit"] {
    border: 1px solid #035c97;
    background-color: #035c97;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 25px;
}

.novo__form__section input[type="submit"]:hover {
    background-color: #167bbe;
    color: #fff;
    font-size: 1.3rem;
}

.novo__form__login {
    display: flex;
    box-sizing: border-box;
}

.novo__form__login a {
    color:#fff;
    font-weight: 500;
    margin-top:20px;
    margin-right: 2px;
}
.novo__form__login a:hover {
    font-size: 1.1rem;
} 

.novo__form__cadastrar {
    display: block;
    width: 100%;
    text-align: right;
}

.novo__form__btn__cadastrar {
    min-height: 40px; 
    margin-bottom: 10px;
}

.novo__form__input__filtar {
    height: 35px;
    border: 1px solid #035c97;
    width: 50vw;
    margin-top: 10px;
}